[Unit]
Description=USB Ethernet Gadget Startup
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/bin/sh /opt/scripts/boot/am335x_evm.sh

[Install]
WantedBy=multi-user.target

